<ion-header>
  <ion-navbar id="navbar-home">
    <ion-buttons end>
      <button ion-button (click)="presentProfile()">
        <ion-icon class="profile-button" name="ios-contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-title>
    <h1>Today</h1>
  </ion-title>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-col col-12>

          <ion-col col-6>
            <ion-icon id="sun" name="sunny"></ion-icon>
            <p class="weather-temperature">0 °C</p>

          </ion-col>
        </ion-col>
      </ion-col>

      <ion-col col-6>
        <p id="weather-subtitle"></p>
      </ion-col>
    </ion-row>
  </ion-grid>



  <h3>Featured</h3>

  <!--I en slider-->

  <ion-slides>
    <ion-slide loop="true" *ngFor="let item of featuredList; let i = index;" (click)="presentFeatured(item.title, item.type)">
      <div class="featured-card" [style.backgroundImage]="'url(' + item.image + ')'">
        <p class="featured-card-time-usage">{{item.type == 'Attraction' ? item.attraction.time : item.time }}h</p>
      </div>
      <h6 class="featured-card-type-heading">{{item.type}}</h6>
      <p class="featured-card-title">{{ item.title }}</p>
    </ion-slide>
  </ion-slides>


  <h3>Tours</h3>
  <ion-scroll scrollX="true" scrollbar="false" class="front-page-content">
    <div class="somewhere" style="display: inline-flex">
      <div *ngFor="let item of tourList; let i = index;">
        <div class="scrollableCard" [style.backgroundImage]="'url('+ item.imageUrl +')'">
          <div class="inner-image" (click)="presentTour(item.title)">
          </div>
          <p class="scroll-title">{{item.title}}</p>
        </div>
      </div>
    </div>
  </ion-scroll>

  <h3>Events</h3>
  <ion-scroll scrollX="true" scrollbar="false" class="front-page-content">
    <div class="somewhere" style="display: inline-flex">
      <div class="scrollableCard" *ngFor="let item of eventList" [style.backgroundImage]="'url('+ item.imageUrl +')'" (click)="openEvent()">
          <div class="inner-image">
          </div>
          <p class="scroll-title">{{item.title}}</p>
          <p class="scroll-date">{{item.date}}</p>

      </div>
    </div>
  </ion-scroll>

  <h3>Attractions</h3>
  <ion-scroll scrollX="true" scrollbar="false" class="front-page-content">
    <div class="somewhere" style="display: inline-flex">
      <div *ngFor="let item of attractionList; let i = index;">
        <div class="scrollableCard" [style.backgroundImage]="'url('+ item.imageUrl +')'">
          <button ion-button round icon-only class="hello" (click)="addAttractionToMainList(item.title)">
            <ion-icon name="add" class="add-button-icon"></ion-icon>
          </button>
          <div class="inner-image" (click)="presentAttraction(item.title)">
          </div>
          <p class="scroll-title">{{item.title}}</p>
        </div>
      </div>
    </div>
  </ion-scroll>

</ion-content>