page-my-guide{

    .map-preview {
        border-radius: 16px;
        overflow: hidden;
        width: 100%;
        
    }
    
    .card {
        //height: 5em;
        background-color: #ffffff !important;
        color: black;
        text-align: left;
        padding: 1.3em;
    }
    
    .timeline {
        position: relative;
        background-color: #a39f9f !important;
        height: 3.5em;
        width: 0.2em;
        left: 3em;
    }
    
    .icon {
        position: relative;
        font-size: 1.5em;
        left: -0.13em;
        top: 0.5em;
    }

    .input {
        //background-color: #a39f9f !important;
    }
    
}
