page-my-guide{

    $text-input-md-show-focus-highlight: false;
    $text-input-wp-show-focus-highlight: false;
    $text-input-md-highlight-color: transparent;

    .edit-icon{
        font-size: 2.3rem;
        background-color: transparent;
    }

    .map-container{
        padding: 16px 8px; 
    }

    .map-preview {
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
    }

    /*Styling for time estimate and attraction count*/ 
    #time-and-count-row{
        margin-top: 24px;
        margin-bottom: 32px;
    }

    #time-icon{
        position: relative; 
        top: -2px;
    }

    .small-info-container{
        display: table;
        margin: auto;
    }

    .inner-info-container{
        display: table-cell; 
        padding-left: 15px; 
        padding-right: 15px; 
    }

    .border-right{
        border-right: solid $color-gray 1px; 
    }

    .info-txt{
        text-align: center;    
    }

    .icon-w-txt-container{
        display: table; 
    }

    .centered{
        margin: auto; 
    }

    .inner-txt-container{
        display: table-cell; 
        vertical-align: middle;
    }

    .time-txt{
        padding-left: 5px; 
    }
    

    /*Grid for when attractions are added*/
    .show-when-attractions{
        padding: 0 8px;
    }

    /*Start input field*/
    .item-md.item-block .item-inner,
    .item-md.item-input.input-has-focus .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
    .list-md .item-input.input-has-focus:last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom: none;
        box-shadow: none;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
        box-shadow: none; 
    }

    .text-input, .text-input-md{
        margin-left: 16px; 
        color: $color-dark-gray;
        font-size: 1rem !important;
        font-family: 'Heebo', sans-serif;
        font-weight: 900 !important; 
        text-transform: uppercase; 
        letter-spacing: 1px;
    }

    .text-input-clear-icon, .button-clear, .button-clear-md{
        box-shadow: none;
    }

    .start-input-container{
        padding: 0; 
    }

    .start-input{
        border: 1px solid $color-light-gray; 
        border-radius: 10px; 
    }

    /*Cards with attractions*/

    .card {
        //height: 5em;
        background-color: #ffffff !important;
        color: black;
        text-align: left;
        padding: 1.3em;
        width: 100%; 
        border-radius: 10px;
        margin: 16px 0;
    }

    .card-txt-container{
        display: table;
        width: 100%; 
    }

    .featured-card-title {
        font-size: 1.4rem;
        font-weight: 700;
        margin: 0;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
        text-align: left;
        color: $color-dark-gray; 
        padding-bottom: 16px;
    }

    .time-container{
        display: table-cell;
        width: 50px;
        text-align: right; 
        padding-right: 8px;
    }

    .title-container{
        display: table-cell; 
    }

    .star-container{
        display: table-cell; 
    }


    .card-time-title{
        display: inline-block;
        padding-left: 5px;
    }

    .timeline {
        position: relative;
        background-color: #a39f9f !important;
        height: 3.5em;
        width: 0.2em;
        left: 3em;
    }
    
    .icon {
        //position: relative;
        //font-size: 1.5em;
        //left: -0.13em;
        //top: 0.5em;
    }

    .input {
        //background-color: #a39f9f !important;
    }

    .walk {
        font-size: 22pt;
    }
    
}
