
<ion-header>

  <ion-navbar id="navbar-guide">
      <ion-buttons end>
        <button ion-button>
          <ion-icon class="edit-icon" name="md-create"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">

  <ion-title>
    <h1>My Guide</h1>
  </ion-title>

  <div class="map-container">
    <img class="map-preview" src="../../assets/imgs/map-oslo.png" (click)="openMap()">
  </div>

  <ion-grid no-padding>
    <!--Container for Time estimate and attraction count-->
      <ion-row id="time-and-count-row">
          <ion-col col-12>
              <!--Table for informtion-->
              <div class="small-info-container">

                <div class="inner-info-container border-right">
                  <h6 class="info-txt">Time</h6>
                  <div class="icon-w-txt-container centered">
                    <ion-icon name="stopwatch" id="time-icon"></ion-icon>
                    <h4 class="inner-txt-container time-txt">{{ time }}h</h4>
                  </div>
                </div>

                <div class="inner-info-container">
                  <h6 class="info-txt">Attractions</h6>
                  <div class="icon-w-txt-container centered">
                    <h4 class="inner-txt-container">{{ attractionsCount }}</h4>
                  </div>
                </div>
              </div>
            </ion-col>
        </ion-row>

        <!--Container to display when no attractions-->
        <ion-row class="show-when-no-attractions">
          <ion-col>
            <p style="text-align: center;">You haven't added any attractions yet.</p>
            <p style="text-align: center;">Go exploring!</p>
          </ion-col>
        </ion-row>

        <!--Container to show when there is attractions-->
        <ion-row class="show-when-attractions">
          <h3>Timeline</h3>
        </ion-row>

        <ion-row class="show-when-attractions">
          <ion-col col-12>
              <ion-item class="start-input-container">
                <ion-input placeholder="Start" clearInput class="start-input"></ion-input>
              </ion-item>
          </ion-col>
        </ion-row>

        <!--Gets the attractions in the tourList-->
        <ion-row class="show-when-attractions" *ngFor="let item of tourList.getTourList(); let i = index;">
          <ion-card (click)="openAttraction(item.title)">
            <div class="card-txt-container">
              <div class="title-container">
                <p class="featured-card-title">{{ item.title }}</p>
              </div>
              <div class="time-container border-right">
                  <ion-icon name="stopwatch"></ion-icon>
                  <p class="card-time-title">{{ item.time }}h</p>
              </div>
              <div class="star-container">
                  <ion-icon name="star-half"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
              </div>
            </div>
          </ion-card>

        </ion-row>
  </ion-grid>

  <!--<ion-card>
    <ion-label>START</ion-label>
    <ion-input></ion-input>
  </ion-card> -->

  <div *ngFor="let item of tourList.getTourList(); let i = index;">
    <ion-card (click)="openAttraction(item.title)">
      <div>{{ item.title }}</div>
      <p>{{ item.time }}h</p>
    </ion-card>

    <div class="timeline">
      <ion-icon name="walk" class="walk"></ion-icon>
    </div>
  </div>
  
</ion-content>
