page-my-guide {

}

.attractions {
    border: solid gray 2px;
    border-radius: 1em;
    margin-bottom: 60px;
}

.map-content {
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 40px;
    border: solid gray 2px;
    border-radius: 1em;
}

.line {
    border-left: 6px solid #d8d8d8;
    height: 50px;
    left: 100px;
}
