page-login-and-register {

    #profilePlaceholder {

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
       }
    
       .tinyText {
    
        text-align: center;
       }
    
       .btn {
    
        margin-top: 5%;
       }
    
       #title {
    
        display: table-cell;
        width: 100%;
       }

       #logindiv {

        text-align: center;
       }
    
       #registerdiv {
    
        display: none;
       }

       #loginbtn {

        min-width: 50px;
        max-width: 50px;
        width: auto;
        display: block;
        margin-top: 40%;
        float: right;
       }
    
       #registerbtn {
    
        min-width: 100px;
        max-width: 100px;
        width: auto;
        display: block;
        margin-top: 40%;
        margin-left: 40%;
       }
}
