page-register {
    .closeBtn{
        font-size: 2.7rem;
    }
    
    .profile-title{
        display: inline-block; 
    }

    .profile-switch-container{
        height: auto; 
        display: flex; 
    }

    #titleandbtnsrow{
        display: flex; 
    }

    #loginbtn {
        display: inline-block;
        width: auto;
        margin-top: auto;
    }
    
    #registerbtn {
        display: inline-block;
        width: auto;
        padding-right: 16px;
        margin-top: auto; 
        text-decoration: underline; 
    }

    .button{
        height: 45px;
    }

    

       #title {

        display: table-cell;
        width: 100%;
       }

       #profilePlaceholder {

        display: none;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
       }

       #plusbtn {

        display: none;
        margin-left: 50%;
       }

       #welcomeuserdiv {

        display: none;
       }
}
