page-register {

    #loginbtn {

        min-width: 50px;
        max-width: 50px;
        width: auto;
        margin-top: 40%;
        float: right;
       }
    
       #registerbtn {
    
        min-width: 100px;
        max-width: 100px;
        width: auto;
        margin-top: 40%;
        margin-left: 40%;
       }

       #title {

        display: table-cell;
        width: 100%;
       }

       #profilePlaceholder {

        display: none;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
       }

       #plusbtn {

        display: none;
        margin-left: 50%;
       }

       #welcomeuserdiv {

        display: none;
       }
}
