
/* ALIGNMENT */
.ios, .md {
    page-info {

        button {
            align-items: baseline;
        }
        .icon {
            float: right;        
        }

        .expandable-box{
            height: auto;
        }
        
    }
}