<!--
  Generated template for the TicketsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar id="navbar-tickets">
    <ion-buttons end>
      <button ion-button (click)="presentProfile()">
        <ion-icon class="profile-button" name="ios-contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-title>
    <h1>City Pass</h1>
  </ion-title>

  <div class="ticket-container">
    <div class="ticket-card">
      <img id="city-pass-logo" src="../../assets/imgs/oslo-city-pass-logo.png">

      <ion-row justify-content-center align-items-center>
        <div (click)="betaDisablePurchase()" *ngIf="qrView" id="qr">
          <img src="../../assets/imgs/qr-code.png">
          <p class="qr-subtitle">Valid for 24 hours</p>
        </div>
      </ion-row>

      <div *ngIf="!qrView" (click)="buyTicket()" class="buy-button">
        <img class="buy-logo" src="../../assets/imgs/alipay.png">
        <h6 class="buy-overhead-title">1 PERSON</h6>
        <!--<p class="buy-overhead-title">1 PERSON</p>-->
        <p class="buy-text">Buy with Alipay (kr 395)</p>
      </div>
    </div>
  </div>

  <p class="description-text">Unlock all of Oslo with only one pass. Oslo City Pass gives you free public
    transportation in the city, and access to all attractions and museums in the app.</p>
  <a href="https://q.pass.is/deThaPydjYam" target="_blank">
    <div *ngIf="qrView" class="add-to-passes" (click)="addPass()">
    <img *ngIf="!isAndroid" src="../../assets/imgs/add-to-apple-wallet-logo.png" class="pass-button">
    <img *ngIf="isAndroid" src="../../assets/imgs/add-to-gpay-logo.png" class="apple-wallet-button">
  </div>
</a>

</ion-content>