// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700,900');




/*COLOR VARIABLES*/
/*--------------------------------------*/

$color-dark-gray: rgb(28, 28, 28);
$color-gray: rgb(156, 156, 156); 

/*--------------------------------------*/
/*POPOVERS (used on filter) */
/*--------------------------------------*/


.popover-content{
    width: 100%; 
    top: 0 !important; 
    left: 0 !important; 
}


/*--------------------------------------*/
/*SEARCHBAR */
/*--------------------------------------*/

.searchbar-input.sc-ion-searchbar-md{
    border-radius: 20px; 
    -webkit-box-shadow: 0 7px 10px 0 rgba(0,0,0,.10), 0 1px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 7px 10px 0 rgba(0,0,0,.10), 0 1px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.searchbar-ios.searchbar-left-aligned .searchbar-input {
    background-color: rgb(243, 243, 243);
}


/*--------------------------------------*/
/*TYPOGRAPHY */
/*--------------------------------------*/

/*Used on main tab-titles*/
h1{
    font-family: 'Heebo', sans-serif;
    color: $color-dark-gray;
    font-weight: 700; 
    font-size: $h1-font-size !important;
    padding-top: 50px; 
}

/*Used on sub-pages like attraction or tour*/
h2{
    font-family: 'Heebo', sans-serif; 
    color: $color-dark-gray; 
    font-weight: 700; 
    font-size: $h2-font-size !important; 
    padding-top: 10px;      
}

/*Used on other titles like category-listing*/
h3{
    font-family: 'Heebo', serif;
    font-weight: 700 !important;
    font-size: $h3-font-size !important;
    margin-bottom: 1rem !important;
    color: $color-dark-gray;
}

/*Used on smaller titles like time-listing on attractions*/
h4{
    font-family: 'Heebo', serif; 
    font-weight: 400; 
    font-size: $h4-font-size !important; 
}

/*Used on small titles like titles on filter*/
h5{
    font-size: $h5-font-size !important;
    font-family: 'Heebo', sans-serif;
    font-weight: 700 !important; 
    text-transform: uppercase; 
    letter-spacing: 1px;
}

/*Used on smallest titles, like headlines for icons*/
h6{
    font-size: $h6-font-size !important;
    font-family: 'Heebo', sans-serif;
    font-weight: 400 !important; 
    text-transform: uppercase; 
    letter-spacing: 1px;
}

p{
    font-family: 'Heebo', sans-serif;
    font-weight: 400; 
    font-size: 1.15em;
    color: $color-dark-gray;
}

/*Used on buttons*/
.button-txt{
    margin: 0; 
    color: $color-dark-gray;
    font-size: 0.8em !important;
    font-family: 'Heebo', sans-serif;
    font-weight: 900 !important; 
    text-transform: uppercase; 
    letter-spacing: 1px;
}

/*--------------------------------------*/
/*Buttons*/
/*--------------------------------------*/

.button-md, .button-ios {
    box-shadow: 0 2px 10px 1px rgba(150, 150, 150, 0.1), 0 0px 10px 1px rgba(150, 150, 150, 0.1), 0 7px 10px 0 rgba(150, 150, 150, 0.12);
    background-color: #fff;
    color: black;
    transition: box-shadow 150ms;
}
.button-md:hover, .button-ios:hover {
    background-color: $color-orange;
    color: white;
}
.button-md:hover:not(.disable-hover){
    background-color: white; 
}

.button-md:active, .button-ios:active {
    box-shadow: none; 
}

/*--------------------------------------*/
/*TOOLBAR */
/*--------------------------------------*/

.header-md::after{
    background-image: none;
}

.header-ios .toolbar-background-ios {
    border: none;
}

/*.toolbar-title {
    font-size: 22pt;
}*/

ion-col.col{
    padding: 0px;
}

.purchase-modal {
    .modal-wrapper {
      position: absolute;
      bottom: 0 !important;
      left: 0 !important;
      display: block;
      width: 100%;
      height: 72%;
    } 
  }
