page-login {
    .profile-title{
        display: inline-block; 
    }

    .profile-switch-container{
        height: auto; 
        display: flex; 
    }

    #titleandbtnsrow{
        display: flex; 
    }

    #loginbtn {
        display: inline-block;
        width: auto;
        margin-top: auto;
        text-decoration: underline; 
    }
    
    #registerbtn {
        display: inline-block;
        width: auto;
        padding-right: 16px;
        margin-top: auto; 
    }

    #logindiv {
        text-align: center;
    }

    .ortext {
        text-align: center;
    }

    #title {
        display: table-cell;
        width: 100%;
    }

    .closeBtn{
        font-size: 2.7rem;
    }
}
