page-login {
    .profile-title{
        display: inline-block; 
    }

    .profile-switch-container{
        height: auto; 
        display: flex; 
    }

    #titleandbtnsrow{
        display: flex; 
    }

    .item-md.item-block .item-inner,
    .item-md.item-input.input-has-focus .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
    .list-md .item-input.input-has-focus:last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom: 0.3px solid grey;
        box-shadow: none;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
        border-bottom: 0.3px solid grey;
        box-shadow: none; 
    }
    .list-md .item-input:last-child {
        border-bottom: 1px solid grey;
    }

    #loginbtn {
        display: inline-block;
        width: auto;
        margin-top: auto;
        text-decoration: underline; 
    }
    
    #registerbtn {
        display: inline-block;
        width: auto;
        padding-right: 16px;
        margin-top: auto; 
    }

    #logindiv {
        text-align: center;
    }

    .editprofileinput {

        border-bottom: 0.3px solid grey;
        padding-left: 0px;
       }

    .ortext {
        text-align: center;
    }

    #title {
        display: table-cell;
        width: 100%;
    }

    .closeBtn{
        font-size: 2.7rem;
    }

    .button{
        height: 45px;
    }
}
