page-profile {

    .closeBtn{
        font-size: 2.7rem;
    }

    .button{
        height: 45px;
    }

    .profile-title{
        display: inline-block; 
    }

    .profile-switch-container{
        height: auto; 
        display: flex; 
    }

    #titleandbtnsrow{
        display: flex; 
    }

    #loginbtn {
        display: inline-block;
        width: auto;
        margin-top: auto;
        text-decoration: underline; 
    }
    
    #registerbtn {
        display: inline-block;
        width: auto;
        padding-right: 16px;
        margin-top: auto; 
    }

    .profile-page-button{
        margin-bottom: 16px;
    }

    #profile-pic-container{
        top: 16px;
        width: 85px; 
        height: 85px; 
        margin: auto; 
        display: block; 
        position: relative; 
        background-color: $color-light-gray; 
        border-radius: 100%; 
        box-shadow: 0 2px 10px 1px rgba(150, 150, 150, 0.1), 0 0px 10px 1px rgba(150, 150, 150, 0.1), 0 7px 10px 0 rgba(150, 150, 150, 0.12);
        overflow: hidden;
    }

    .button-container{
        margin-top: 132px;
        padding: 0 8px;
    }
    
    #notloggedindiv{
        margin-top: 40px;
    }



   #profilePlaceholder {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    object-fit: cover;
   }

   #file {

    visibility: hidden;
   }

   #addicon {

    font-size: 40pt;
    color: orange;
   }

   .tinyText {

    text-align: center;
   }

   .item-md.item-block .item-inner,
    .item-md.item-input.input-has-focus .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
    .list-md .item-input.input-has-focus:last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom: 1px solid orange;
        box-shadow: none;
    }
    .list-md .item-input.input-has-focus:last-child .item-inner,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
        box-shadow: none; 
    }



   #title {

    display: table-cell;
    width: 100%;
   }


   #loginbtn {

    min-width: 50px;
    max-width: 50px;
    width: auto;
    display: none;
    margin-top: 40%;
    float: right;
   }

   #registerbtn {

    min-width: 100px;
    max-width: 100px;
    width: auto;
    display: none;
    margin-top: 40%;
    margin-left: 40%;
   }

   #logindiv {

    text-align: center;
    display: none;
   }

   #registerdiv {

    display: none;
   }

   #closeicon {

    font-size: 20pt;
   }

   .ortext {

    text-align: center;
   }

   .input {

    border-bottom: 5%;
   }

   #plusbtn {

    margin-left: 61%;
    margin-top: -45px;
    display: none;
   }

   #welcomeuserdiv {

    display: none;
   }

   #loggedindiv {

    text-align: center;
    display: none;
    margin-top: 5%;
   }

   .userinfo {

    text-align: center;
   }

   #editprofilediv {

    display: none;
   }

   #editpassworddiv {

    display: none;
   }

   #kappagrid {

    width: 100%;
   }

   #titleandbtnsrow {

    margin-bottom: 0%;
   }


    /*.titleDiv {

    width: 100%;
    }*/

}
