page-profile {

   #profilePlaceholder {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
   }

   .tinyText {

    text-align: center;
   }

   .btn {

    margin-top: 5%;
   }

   #title {

    display: table-cell;
    width: 100%;
   }

   .toolbar {

    display: table;
   }

   #loginbtn {

    min-width: 50px;
    max-width: 50px;
    width: auto;
    display: none;
    margin-top: 40%;
    float: right;
   }

   #registerbtn {

    min-width: 100px;
    max-width: 100px;
    width: auto;
    display: none;
    margin-top: 40%;
    margin-left: 40%;
   }

   #logindiv {

    text-align: center;
    display: none;
   }

   #registerdiv {

    display: none;
   }

   #closeicon {

    font-size: 20pt;
   }

   .ortext {

    text-align: center;
   }

   .input {

    border-bottom: 5%;
   }

   #plusbtn {

    display: none;
    margin-left: 50%;
   }

   #welcomeuserdiv {

    display: none;
   }

   #loggedindiv {

    text-align: center;
    display: none;
    margin-top: 5%;
   }

   .userinfo {

    text-align: center;
   }

   #editprofilediv {

    display: none;
   }

   #editpassworddiv {

    display: none;
   }

   #kappagrid {

    width: 100%;
   }

   #titleandbtnsrow {

    margin-bottom: 0%;
   }


    /*.titleDiv {

    width: 100%;
    }*/

}
