page-tickets-buy {

    .face-id {
        margin-left: 50%;
        transform: translateX(-50%);
        
    }

    .face-id-subtitle {
        text-align: center;
        font-size: 10pt;
        font-weight: bold;
        color: rgb(109, 109, 109);
    }

}
