page-tickets-buy {

    .heading {
        font-size: 16pt !important;
    }

    .subtitle {
        color: gray;
    }

    .alipay {
        width: 20px;
        margin-right: 10px;
        display: inline-block;
    }

    ion-title {
        position: absolute;
        left: 10px;
        top: 22px;

        h3{
            display: inline-block;
            position: relative; 
            top: -3px;
        }
    }

    .toolbar-title-md {
        margin-top: -15px;
    }

    .face-id {
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
        
    }

    .face-id-subtitle {
        text-align: center;
        font-size: 10pt;
        font-weight: bold;
        color: rgb(109, 109, 109);
    }

    .face-id-mini {
        width: 28px;
        margin-right: 10px;
    }

    .alipay-purchase-info {
        height: 100px;
        background-color: #d0e9f5;
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 32px;
        padding-top: 15px;
        overflow: hidden;
        margin-top: 16px;
    }

    .wrapper {
        padding-left: 32px;
        padding-right: 32px;
    }

    .pay-button {
        height: 50px;
        background-color: $color-orange;
        //background-color: black;
        color: white;
        bottom: 0;
    }

    .pay-button:hover{
        background-color: $color-orange !important;
    }

    .purchase-total {
        font-weight: bold;
        font-size: 15pt;
    }

    .visa {
        width: 40px;
        float: right;
        margin-top: 10px;

    }

    .card-grid {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .txt-white{
        color: white !important; 
    }

    .closeBtn{
        font-size: 2.7rem;
    }

}
