<!--
  Generated template for the TicketsBuyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <img class="alipay" src="../../assets/imgs/alipay.png">
      <h3>Alipay</h3>
    </ion-title>
    <ion-buttons end *ngIf="!shouldViewFaceId">
        <button ionbutton class="closeBtn" (click)="dismiss()">
          <ion-icon name="ios-close-circle-outline"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

    

</ion-header>

<ion-content>

  <div *ngIf="!shouldViewFaceId" class="alipay-purchase-info">

    <ion-grid center>
      <ion-row>
        <ion-col>
        <p class="purchase-total">395 NOK</p>
        </ion-col>
        <ion-col class="card-col">
          <img class="visa" src="../../assets/imgs/icon-visa.png">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="wrapper">

    <h2 *ngIf="!shouldViewFaceId" class="heading">24 hours in Oslo</h2>
    <p *ngIf="!shouldViewFaceId" class="subtitle">This ticket is valid 24 hours from purchase. Full conditions are available on our webiste.</p>

    <iframe *ngIf="shouldViewFaceId" class="face-id" width="90" height="90" src="https://lottiefiles.com/iframe/1052-face-id"
      frameborder="0" allowfullscreen></iframe>
    <p *ngIf="shouldViewFaceId" class="face-id-subtitle">Face ID</p>

    <button ion-button full round class="pay-button" *ngIf="!shouldViewFaceId" color="dark" (click)=confirmPurchase()>
      <img src="../../assets/imgs/icon-face-id.png" class="face-id-mini">
      <p class="button-txt txt-white">Pay with Face ID</p>
    </button>
    
  </div>

  </ion-content>