page-attraction-detail{

    #navbar-attraction{
        transition: background-color 0.15s ease-in, box-shadow 0.15s ease-in;
    }

    .button{
        height: 45px; 
        margin-bottom: 16px; 
    }

    .add-my-guide-btn{
        background-color: $color-orange !important;
    }

    .add-my-guide-txt{
        color: white; 
    }

    h3{
        margin: 0 !important; 
        padding-top: 16px; 
    }

    .adress-table-bar{
        width: 100%; 
        padding: 8px 0;
    }

    .adressbar{
        margin-top: 0 !important; 
        font-size: 0.8em;
        font-weight: 400;
        color: #666;
        padding-left: 5px; 
        display: inline-block;
    }

    .adress-icon{
        color: $color-dark-gray;
    }

    .adress-container{
        display: table-cell;
        padding: 0; 
    }

    .back-button-icon{
        color: white; 
    }

    .scroll-content{
        margin-top: 0 !important; 
    }

    .inner-container{
        padding-left: 10px;
        padding-right: 10px;
    }

    .middle-container{
        border-left: solid $color-gray 1px; 
        border-right: solid $color-gray 1px; 
    }

    .info-row{
        margin-top: 24px; 
        margin-bottom: 24px; 
    }

    .grid{
        padding: 0 !important; 
    }

    #attraction-large-photo {
        min-width: 100%; 
        min-height: 100%; 
        width: auto; 
        height: auto; 
        object-fit: cover; 
    }

    #header-img{
        width: 100%; 
        height: 490px;
    }

    .small-info-container{
        display: table;
        margin: auto;
    }

    .info-txt{
        text-align: center;    }

    .inner-info-container{
        display: table-cell; 
        padding-left: 15px; 
        padding-right: 15px; 
    }

    .inner-txt-container{
        display: table-cell; 
        vertical-align: middle;
    }


    .icon-w-txt-container{
        display: table; 
    }

    .price-sign{
        font-size: 1em !important; 
    }

    .time-txt{
        padding-left: 5px; 
    }

    .star-icon{
        color: $color-dark-gray; 
    }

    .amnety-box{
        border-radius: 100px;
        height: 50px;
        width: 50px;
        background-color: $color-lighter-gray;
        display: table; 
        margin: 0px 16px 24px 0;
    }

    .amnety-icon{
        display: table-cell;
        vertical-align: middle; 
        text-align: center; 
    }

    .amnety-scroller{
        height: 50px; 
    }
    
    .scroller-box{
        display: inline-block; 
    }

    .main-scroller-box{
        display: inline-flex; 
    }

    .main-scroller-box:first-child{
        margin-left: 26px;
    }

    .centered{
        margin: auto; 
    }

    .border-right{
        border-right: solid $color-gray 1px; 
    }

    #popular-hours-row{
        margin-bottom: 24px;
    }

    #rate-share-row{
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .bigger-icon{
        font-size: 1.5em;
    }

    .big-icon{
        font-size: 2.2em;
        color: $color-orange;
    }

    .right-align{
        text-align: right; 
    }

    #hours-info{
        display: table; 

        ion-col{
            display: table-cell;
            vertical-align: middle; 
            white-space: normal;
        }
    }

    /*Styling for hour graph*/
    /*The container for the background of the graph*/
    #table-background-container{
        display: flex; 
        flex-direction: row;
        justify-content: center; 
        justify-items: center; 
        width: 100%;
        height: 120px; 
        position: absolute;
        bottom: 0px;
    }

    #table-background{
        position: absolute; 
        width: 100%; 
        height: 120px;

        tr{
            border-top: 1px solid $color-light-gray;
            display: block; 
            position: absolute; 
            width: 100%; 
        }
    }

    #r1{bottom: 0;}
    #r2{bottom: 20px;}
    #r3{bottom: 40px;}
    #r4{bottom: 60px;}
    #r5{bottom: 80px;}
    #r6{bottom: 100px;}


    /*The container for the graph*/
    #popular-hours-graph{
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        width: 100%; 
    }

    /*The table that contains the graph*/
    #q-graph {
        display: block; 
        position: relative; 
        width: 100%; 
        height: 120px;
        margin: 1.1em 0 0; 
        padding: 0;
        background: transparent;
        font-size: 11px;
    }

    /*The rows, header and detail in the table*/
    #q-graph tr, #q-graph th, #q-graph td { 
        position: absolute;
        bottom: 0; 
        width: 20px; 
        z-index: 2;
        margin: 0; 
        padding: 0;
        text-align: center;
    }
      
    /*The table rows*/  
    #q-graph thead tr {
        left: 100%; 
        top: 50%; 
        bottom: auto;
        margin: -2.5em 0 0 5em;
    }

    /*The table headers (label for the bars)*/
    #q-graph thead th {
        width: 7.5em; 
        height: auto; 
        padding: 0.5em 1em;
    }

    /**/
    #q-graph thead th.sent {
        top: 0; 
        left: 0; 
        line-height: 2;
    }
      
    /*The graph bars*/
    #q-graph #q1 {left: 0;}
    #q-graph #q2 {left: 20px;}
    #q-graph #q3 {left: 40px;}
    #q-graph #q4 {left: 60px;}
    #q-graph #q5 {left: 80px;}
    #q-graph #q6 {left: 100px;}
    #q-graph #q7 {left: 120px;}
    #q-graph #q8 {left: 140px;}
    #q-graph #q9 {left: 160px;}
    #q-graph #q10 {left: 180px;}
    #q-graph #q11 {left: 200px;}
    #q-graph #q12 {left: 220px;}
    #q-graph #q13 {left: 240px;}
    #q-graph #q14 {left: 260px;}
    #q-graph #q15 {left: 280px;}
    #q-graph #q16 {left: 300px;}

    #q-graph tbody th {
        bottom: -1.75em; 
        vertical-align: top;
        font-weight: normal; 
        color: #333;
    }

    #q-graph .hour-bar {
        width: 18px; 
        border-bottom: none; 
        color: #000;
        background-color: $color-orange; 
        border-color: transparent; 
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }


    /*Review table*/
    #review-table{
        width: 100%; 
        margin-top: 16px;
        margin-bottom: 24px;

        table{
            width: 100%; 

            tr{
                height: 20px;
            }

            td{
                h6{
                    margin: 0; 
                }
            }

            .rate-line-col{
                width: 60%; 
            }

            .rate-line{
                background-color: $color-orange;
                height: 16px; 
            }

            .rate-line-background{
                position: absolute;
                height: 16px;
                width: 52%;
                background-color: $color-lighter-gray;
                z-index: -1; 
            }

            #excellent{width: 60%;}
            #very-good{width: 30%;}
            #average{width: 45%;}
            #poor{width: 53%;}
            #terrible{width: 2%;} 

            .rate-number{
                text-align: right; 
            }
        }


    }

    .review-row{
        margin-top: 8px; 

        .review-img-col{
            padding-right: 8px; 

            .review-img-container{
                width: 60px; 
                height: 60px; 
                border-radius: 60px; 
                background-color: gray; 
                overflow: hidden; 
                margin: auto; 

                img{
                    object-fit: cover;
                    min-height: 100%; 
                    min-width: 100%; 
                }
            }
            ion-row{
                text-align: center; 
                p{
                    font-size: 1em;
                    font-weight: 700;
                    margin: auto; 
                    padding-top: 8px; 
                }

                h6{
                    margin: auto; 
                    padding-top: 8px; 
                }

                .review-name{
                    color: $color-dark-gray;
                }
            }
            
        }

        .review-txt-col{
            .review-star-row{
                padding-bottom: 8px; 
            }
            h6{
                margin: 3px 0 0 10px; 
            }
            p{
                margin-top: 0; 
                font-size: 1em;
            }
        }
    }
}