filter {
    width: 100%;
}

#filter-page{
    height: auto;

    .scroll-content{
        padding: 0 !important;
    }
}

#close-icon{
    height: 30px; 
    width: 30px;
}

.weather-icon{
    padding: 0 12px; 
    height: 40px;
    width: 40px;
    margin-bottom: 13px;
}

.goodForButton{
    padding: 0 11px;
}

.button-txt{
    margin: 0; 
    color: $color-dark-gray;
}

.range-label{
    padding-left: 10px;
}

.item-md{
    padding-left: 10px;
}

.item-inner{
    border-bottom: none !important; 
    padding-bottom: 10px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0 !important;
}

.less-margin{
    margin-left: 1px !important;
}

.range-md{
    padding-left: 0;
    padding-right: 0;
}

.range-knob{
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1), 0 0px 10px 1px rgba(0, 0, 0, 0.1), 0 7px 10px 0 rgba(0, 0, 0, 0.12)
}

.range-knob-pressed{
    transform: scale(0.8);
}

.button-md, .button-ios {
    box-shadow: 0 2px 10px 1px rgba(150, 150, 150, 0.1), 0 0px 10px 1px rgba(150, 150, 150, 0.1), 0 7px 10px 0 rgba(150, 150, 150, 0.12);
    background-color: #fff;
    color: black;
}
.button-md:hover, .button-ios:hover {
    background-color: $color-orange;
    color: white;
}

ion-icon{
    color: $color-dark-gray;
}