@import url('https://fonts.googleapis.com/css?family=Merriweather:300i|Playfair+Display:700|Roboto:400,700|Source+Sans+Pro:700');

.splash-log-in{
  bottom: 0; 
  position: relative; 
  width: 100%; 
}

.btn {
  width: 100%;
  border-radius: 8px;
}
   
#weibo-logo {
  width: 30px;
  margin-right: 10px;

}

.welcome {
  background-image: url('http://www.tripsavvy.com/thmb/7ZBViRizyNviehYe2J_wAaKdBFw=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/OsloOperaNorway-531511051-56746a015f9b586a9e4853f8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#splash-logo {
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;

}

.splash-intro-header {
  color: white;
  text-align: center;
}

#splash-intro-text {
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  color: white;
}