@import url('https://fonts.googleapis.com/css?family=Merriweather:300i|Playfair+Display:700|Roboto:400,700|Source+Sans+Pro:700');

.splash-log-in{
  bottom: 0; 
  position: absolute; 
  width: 100%; 
}

.btn {

    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    font-size: 0.8em;
    text-transform: uppercase; 
    letter-spacing: 1px;
    width: 100%; 
    }
   
    #weibologo {
    width: 30px;

    }

    .welcome {

      background-image: url('http://www.tripsavvy.com/thmb/7ZBViRizyNviehYe2J_wAaKdBFw=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/OsloOperaNorway-531511051-56746a015f9b586a9e4853f8.jpg');
    }
    
  
    
