page-explore {

}

/*--------------------------------------*/
/*UNIVERSAL*/
/*--------------------------------------*/


/*COLOR VARIABLES*/
/*--------------------------------------*/

$color-dark-gray: rgb(28, 28, 28);
$color-gray: rgb(156, 156, 156); 



/*Toolbar*/
/*--------------------------------------*/

#filter-icon{
    height: 30px;
    width: 30px;
    color: $color-dark-gray;
}
/*
ion-toolbar{
    position: absolute; 
}*/

/*Button*/
button{
    background-color: transparent;
}


/*Content */
/*--------------------------------------*/

ion-content{
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
}


/*--------------------------------------*/
/*SEARCH BAR */
/*--------------------------------------*/

ion-searchbar{
    padding: 10px;
}

ion-searchbar{        
    .searchbar-input-container{            
        .searchbar-input{
            border-radius: 20px;
        }
    }
 }


/*--------------------------------------*/
/*GRID SYSTEM */
/*--------------------------------------*/
/*
ion-col{
    padding: 0px;
}*/

ion-card{
    margin: 10px !important; 
    border-radius: 5px !important;
    overflow: hidden;
    background-color: $color-dark-gray !important;
}

ion-card img{
    opacity: 0.6;
    min-width: 100%;
    min-height: 100%; 
    object-fit: cover; 
}

.cat-md-height{
    height: 200px;
}

.cat-sm-height{
    height: 150px;
}

.card-txt{
    position: absolute; 
    z-index: 999;
    height: auto;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.card-title{

    color: white !important;
    text-align: center;
    display: block;
    z-index: 999;
    width: 100%; 
}

.card-subtitle{
    color: white !important; 
    width: 100%; 
    display: block; 
    text-align: center; 
}

/*Result-page*/
.result-txt{
    position: absolute; 
    bottom: 16px;
    padding-bottom: 10px; 
    display: table; 
    width: 95%;
}

.title-box{
    width: 100%;
}

.result-title{
    bottom: 0; 
    padding-left: 16px; 
    text-align: left;
    margin: 0 !important; 
}

.time-box{
    text-align: right; 
    padding-right: 8px; 
    min-width: 70px; 
}

.divider{
    height: 20px; 
    background-color: white; 
    width: 1px; 
}

.time-icon{
    display: inline-block;
    color: white; 
}

.result-txt-box{
    display: table-cell;
    vertical-align: bottom;
}

.result-time{
    color: white !important;
    display: inline-block;
}

.star-box{
    padding-left: 8px; 
    min-width: 90px; 
    max-width: 90px; 
}

.star-icon{
    color: white;
}

.choiceButton{
    width: auto; 
    color: $color-dark-gray;
    padding: 0 16px;
    display: table; 
}

.btn-row{
    padding: 0 8px;
    margin-bottom: 10px; 
}

.choice-btn-txt{
    display: table-cell; 
    vertical-align: middle;
}

.choice-btn-cross{
    display: table-cell; 
    padding-left: 8px; 
}

#result-grid{
    display: none; 
}

.add-button{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    width: 35px;
    height: 35px;
}

.add-button-icon{
    font-size: 1.3em !important;
}
